<nav>
  <ul>
    <li>
      <a href="/users">Users</a>
    </li>
    <li>
      <a href="/photos">Photos</a>
    </li>
  </ul>
</nav>

<h1>List of users</h1>

<form action="/insert_user_record" method="POST">
  <label for="input_username">Username</label>
  <input id="input_username" type="text" name="username" placeholder="Enter a username...">

  <button type="submit">Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>

  <% @list_of_users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.username, user_path(user.username) %></td>
      <td><a href="<%= user_path(user.username) %>">Show details</a></td>
    </tr>
  <% end %>
</table>
